//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 17 15:16:51 2021
//! **************************************************************************

SCHEMATIC START;
COMP "L7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "K6_3_P111" LOCATE = SITE "P111" LEVEL 1;
SCHEMATIC END;

